@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.navBtn {
	@apply border border-transparent text-black transition-all duration-300 hover:cursor-pointer hover:border-b-black 2xl:text-4xl;
}

body {
	margin: 0;
	height: 400vh;
}

h1,
h2,
p,
input,
textarea,
a {
	font-family: 'DM Sans';
}

.floating {
	animation: floating ease 5s infinite;
}

.floating2 {
	animation: floating2 ease 5s infinite;
}

.floating3 {
	animation: floating3 ease 5.5s infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(5%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes floating2 {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(-5%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes floating3 {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(3%);
	}

	100% {
		transform: translateY(0%);
	}
}
